@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Caveat:wght@400;600&display=swap");

@theme {
  --font-neue: "Poppins", "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-caveat: "Caveat", cursive, sans-serif;
  --tracking-custom: -0.01em;
}

body {
  font-family: var(--font-neue);
  letter-spacing: var(--tracking-custom);
  background-color: #28140d;
}
